{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "no-restricted-syntax": [0]
  },
  "env": {
    "browser": true
  }
}
